body{
    /* background-color: lightgrey; */
}
div a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
}
.nav{
    background-color: black;
    padding: 20px;
    position: fixed;
    margin-top: 0%;
    width: 100%;
    margin-top: 0%;
}
.heading{
    display: inline-block;
}
.right{
    display: inline-block;
    margin-left: 60%;
}
.nav a:hover{
    color: red;
    background-color: darkgray;
}
.image{
    width: 100%;
    height: 100vh;
}
img{
    width: 100%;
    height: 100vh;
}
div .mname{
    color:tomato;
    background-color: transparent color(srgb-linear rgb(226, 8, 8) rgb(15, 39, 15) rgb(92, 92, 210));
    display: inline-block;
    padding: 7px;
    border: 3px solid grey;
    position: absolute;
    top: 50%;
    left: 50%;
}
#project{
    font-size: 50px;
    padding: 10px;
}
.small{
    width: 400px;
    height: 400px;
    display: inline-block;
    padding: 30px;
}
.name{
    color: antiquewhite;
    background-color: black;
    padding: 6px;
    display: inline-block;
    position: relative;
    bottom: 105%;
    left: 10%;
}
#about{
    font-size: 50px;
    padding: 10px;
}
.para{
    font-family:cursive;
    padding: 20px;
}
.aboutus{
    width: 400px;
    height: 400px;
    display: inline-block;
    padding: 20px;
}
.celname{
    text-align: center;
    font-size: 24px;
    font-weight: 100;
}
.ceo{
    text-align: center;
    font-size: 17px;
    font-weight: 100;
}
.contact{
    text-align: center;
    padding: 5px;
    background-color: #D7DBDD;
    font-family: Arial, Helvetica, sans-serif;
}
#contact{
    font-size: 50px;
    padding: 10px;

}
.conlet{
    font-size: 30px;
}
.placeholder{
    font-size: 25px;

}
input[type=text], section{
    width: 100%;
    padding: 10px;
    margin: 8px;
    border-radius: 4px;
}
.message{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px;
}
footer{
    background-color: black;
    color: #D7DBDD;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
 
